html
  head
    title Write What You See Consumer
    link(rel="stylesheet", href="/stylesheets/main.css")    
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
  body
    iframe#desktop(src="https://wwys-svelte.herokuapp.com/", scrolling="no" style="overflow: hidden; width: 1350px; height: 670px; border:none")
    iframe#mobile(src="https://writewhatyousee.art", scrolling="no" style="overflow: hidden; width: 380px; height: 780px; border:none")