extends ./layout.pug
block content
  iframe#desktop(src="https://wwys-svelte.herokuapp.com/", scrolling="no" style="overflow: hidden; width: 1350px; height: 670px; border:none")
  iframe#mobile(src="https://writewhatyousee.art", scrolling="no" style="overflow: hidden; width: 380px; height: 780px; border:none")