extends ./layout.pug
block content
  iframe(src="https://wwys-svelte.herokuapp.com/", scrolling="no" style="overflow: hidden; width: 1350px; height: 650px; border:none")
  script.
    $(function () {
      initializeLayout('home');
    });    
