extends ./layout.pug
block content
  .iFrameContainer 
    div What you see below is content from an external site embedded in an iFrame
    iframe(src="https://wwys-svelte.herokuapp.com/", scrolling="no" style="overflow: hidden; width: 1350px; height: 650px; border:none")