@charset 'UTF-8';

@media only screen and (min-width: 360px) and (max-width: 767px) {
  #desktop {
    display: none;
  }
  #mobile {
    display: block;
  }
}

@media (min-width: 1281px) {
  #desktop {
    display: block;
  }
  #mobile {
    display: none;
  }
}